body {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #ffffff;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-justify-center {
    justify-content: center;
}

.color-animation {
    /* Chrome, Safari, Opera */
    -webkit-animation-name: colors;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    /* Standard syntax */
    animation-name: colors;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}


@keyframes colors {
    0% {
        background-color: #000000;
        left: 0;
        top: 0;
    }
    25% {
        background-color: #00293d;
        left: 0;
        top: 0;
    }
    50% {
        background-color: #2e0b52;
        left: 0;
        top: 0;
    }
    75% {
        background-color: #8e44ad;
        left: 0;
        top: 0;
    }
    100% {
        background-color: #153753;
        left: 0;
        top: 0;
    }
}